* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
  }
  
  html {
    background-color: #222;
    color: white;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    border: 2px dashed gray;
  }

  sidebar p {
    text-align: center;
    font-size: x-small;
  }
  main {
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  main span {
    text-align: center;
    font-size:medium;
  }

  main p {
    text-align: center;
    font-size:medium;
  }

  td {
    height: 20px;
    width: 20px;
  }

  table {
    border: dashed;
  }

  .snake {
    background-color: blue;
  }

  .apple {
    background-color: red;
  }

  .nosnake {
    background-color: #222;
  }